body {
    background-color: beige;
}


.skills {
    display: flex;
    justify-content: center;
}


.first {
    display: flex;
    justify-content: center;
    
}

.title-master {
    display: flex;
    justify-content: center;
    

}
#title {

    font-family: 'Ubuntu Mono', monospace;
}
#title2 {
    margin-right: 10px;
    margin-left: 10px;
    font-family: 'Roboto Mono', monospace;
    
}
#title3 {
    
    font-family: 'Ubuntu Mono', monospace;
}


.sparkle {
    display: inline-block;
    padding: 10px 20px;
    font-size: 10px;
    color: black;
    background: beige;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }
  


  .awesome-heading {
    font-size: 5rem; font-weight: bold; color: #333; text-align: center;
    
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
  }
  
#second {
    margin: 40px;
    font-family: 'Open Sans';
    

}


